.button {
  width: auto;
  height: auto;
  padding: 0px 10px;
  border-radius: 13px;
  cursor: pointer;
}
.but1 {
  background: $dark_gray;
  border: 2px solid $purple;
  color: $white;
}
.but2 {
  background: transparent;
  border: 2px solid $green;
}
