@import "./base";
@import "./navbar";

.border {
  background: radial-gradient(
        circle at 100% 100%,
        #191919 0,
        #191919 3px,
        transparent 3px
      )
      0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #191919 0, #191919 3px, transparent 3px)
      100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #191919 0, #191919 3px, transparent 3px)
      0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #191919 0, #191919 3px, transparent 3px) 100%
      100%/8px 8px no-repeat,
    linear-gradient(#191919, #191919) 50% 50% / calc(100% - 10px)
      calc(100% - 16px) no-repeat,
    linear-gradient(#191919, #191919) 50% 50% / calc(100% - 16px)
      calc(100% - 10px) no-repeat,
    linear-gradient(
      119deg,
      #7120d8 0%,
      rgba(78, 141, 197, 0) 39%,
      rgba(72, 171, 224, 0.06) 48%,
      #2affb2 100%
    );

  border-radius: 8px;
  padding: 3px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 270px);
  position: relative;
  .home {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: no-repeat url(../images/group-9080.png);
    background-position: right center;
    background-size: cover;
    background-color: $back_home;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .abs {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      color: $white;
      cursor: pointer;
      border-radius: 15px;
      background: rgba($color: $white, $alpha: 0.15);
      border: 1px solid rgba($color: $white, $alpha: 0.25);
    }
    .texts {
      margin-left: 50px;
      padding: 30px;
      h2 {
        color: $white;
        margin-bottom: 30px;
      }
      p {
        color: $light_gray;
      }
    }
  }
}

.parts {
  // width: calc(100vw - 20px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  .part {
    margin: 20px 0;
    border-radius: 16px;
    width: 49%;
    min-width: 500px;
    height: 275px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    color: $white;

    .texts {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 100%;

      .title {
        max-width: fit-content;
        font-size: 24px;
        padding: 5px;
      }
      p {
        max-width: 55%;
        padding: 10px;
        margin-bottom: 10px;
      }
      .button {
        margin: 10px 0;
        display: flex;
        .icon {
          margin-left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.why_section {
  // width: calc(100vw - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  .whys {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-top: 20px;
    gap: 20px;

    .col {
      width: 50%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      row-gap: 30px;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        min-width: 400px;
      }

      .why {
        width: 289px;
        height: 337px;
        padding: 24px;
        color: $white;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        p {
          font-size: 14px;
        }
      }
    }
    .imd {
      width: calc(50% - 20px);
      padding: 0 10px;
    }
  }
}

.how_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 50px;

  .hows {
    display: flex;
    padding: 0 20px;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;

    .how {
      width: 80%;
      padding: 10px;
      margin-bottom: 20px;
      color: $white;
      position: relative;
      .q {
        cursor: pointer;
        padding: 10px;
        display: flex;
        h3 {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          span {
            margin-right: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }
        }
      }
      .as {
        width: calc(100% - 30px);
        margin: 15px;
        border-radius: 16px;
        border: 2px solid $dark_gray;
        .a {
          margin: 15px;
          margin-bottom: 20px;
          .p1 {
            margin-top: 6px;
          }
        }
      }
    }
  }
}
.never {
  width: 100%;
  margin: 30px 0;
  padding: 20px 30px;
  border: 3px solid $dark_gray;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    color: $white;
    span {
      background: rgb(113, 32, 216);
      background: linear-gradient(
        90deg,
        rgba(113, 32, 216, 1) 0%,
        rgba(42, 255, 178, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    color: $dark_white;
    margin: 15px 0;
  }
  .r {
    display: flex;
    width: fit-content;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 810px;
    flex-wrap: wrap;

    input {
      margin-right: 20px;
      background: $dark_gray;
      border: 3px solid $light_gray;
      border-radius: 10px;
      padding: 10px 15px;
      outline: none;
      color: $light_gray;
      font-weight: 500;
      font-size: 14px;
    }
    .button {
      margin: 10px 0;
    }
  }
}

.purple {
  border: 3px solid $purple;
}
.green {
  border: 3px solid $green;
}
.mixed {
  background: radial-gradient(
        circle at 100% 100%,
        #191919 0,
        #191919 13px,
        transparent 13px
      )
      0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #191919 0, #191919 13px, transparent 13px)
      100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #191919 0, #191919 13px, transparent 13px)
      0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #191919 0, #191919 13px, transparent 13px)
      100% 100%/16px 16px no-repeat,
    linear-gradient(#191919, #191919) 50% 50% / calc(100% - 6px)
      calc(100% - 32px) no-repeat,
    linear-gradient(#191919, #191919) 50% 50% / calc(100% - 32px)
      calc(100% - 6px) no-repeat,
    linear-gradient(#2affb2 58%, #7120d8 100%);
  border-radius: 16px;
  padding: 6px;
  box-sizing: border-box;
}

section h1 {
  color: $white;
  margin-top: 30px;
  padding: 10px;
}

@import "./texts";
@import "./resize";
