@import "./base";
@import "./navbar";

.aa .home {
  width: 100%;

  padding: 30px $side_padding;
  padding-bottom: 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  .f {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    .h2 {
      position: relative;
      margin-top: 50px;
      font-size: 35px;
      color: $white;
      width: 100%;
      max-width: 600px;

      #first {
        color: $purple;
      }
      #second {
        color: $green;
      }
    }

    #banner1 {
      position: relative;
      width: 100%;
      max-width: 600px;
      height: auto;
      margin-top: 50px;
      border: 3px solid #555555;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px;
      color: $white;
      overflow: hidden;
      backdrop-filter: blur(10px);

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: url(../images/banner1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        opacity: 0.5;
      }
      h3,
      p {
        z-index: 2;
      }
      p {
        margin: 20px 0;
      }
      .button {
        z-index: 2;
        margin: 10px 0;
        width: fit-content;
        display: flex;
        .icon {
          margin-left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .border {
    border: 0.1px transparent;
    border-radius: 16px;
    background-image: url(../images/banner1.png),
      linear-gradient(to right, $purple, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
    box-sizing: border-box;

    #banner2 {
      position: relative;
      width: 100%;
      border-radius: 16px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 30px 20px;
      z-index: 2;
      color: $white;
      backdrop-filter: blur(10px);

      & > * {
        max-width: 650px;
        width: 100%;
        z-index: 2;
      }
      ul li,
      p {
        margin: 20px 0;
      }
      .buts {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;

        .button {
          padding: 6px 8px;
        }
        .but1,
        .but3_1 {
          margin-right: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .us.dr {
    .ss {
      justify-content: flex-start;
      align-items: flex-start;
      background-position: right center !important;
      background: url(../images/dr.png);
      background-repeat: no-repeat;
      background-size: auto;
    }
    h1 {
      text-align: left;
    }
  }

  .us.st {
    .ss {
      justify-content: flex-end;
      align-items: flex-end;
      background-position: left center;
      background: url(../images/st.png);
      background-repeat: no-repeat;
      background-size: auto;
    }
    h1 {
      text-align: start;
    }
  }

  .us {
    margin-top: 220px;
    position: relative;
    width: 100%;

    h1 {
      font-size: 38px;
      color: $white;
      width: 100%;
      margin-bottom: 20px;
    }

    .ss {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;

      .borders {
        &.green {
          border: double 2px transparent;
          border-radius: 16px;
          background-image: url(../images/banner1.png),
            linear-gradient(to right, $green, rgba(0, 0, 0, 0) 80%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        &.purple {
          border: double 2px transparent;
          border-radius: 16px;
          background-image: url(../images/banner1.png),
            linear-gradient(to left, $purple, rgba(0, 0, 0, 0) 80%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        width: 100%;
        max-width: 550px;
        height: auto;
        position: relative;
        overflow: hidden;
        margin-bottom: 20px;

        .card {
          padding: 20px;
          width: 100%;
          position: relative;
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: flex-start;

          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              margin-right: 10px;
            }
          }

          h3 {
            font-size: 20px;
            margin: 10px 0;
          }
          ul li {
            font-size: 14px;
            text-decoration: underline 1px solid white;
            margin: 0px 0 10px 15px;
          }
          p {
            margin: 5px 0;
            font-size: 12px;
          }
        }
      }
    }
  }
  .mockups {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 100px;
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-width: 360px;
      }
    }
    .carousel {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;
      user-select: none;

      svg {
        color: $light_gray;
        font-size: 100px;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          color: $white;
        }
      }

      .img {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        .dots {
          display: flex;
          width: fit-content;
          margin-bottom: 10px;
          margin-right: 30px;

          .dot {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-left: 10px;
          }
          .p {
            background: $purple;
          }
          .g {
            background: $green;
          }
          .b {
            background: $black;
          }
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .tt {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: $white;

    h1 {
      margin: 30px 0;
    }
    .roadmap {
      width: 90%;
      border-radius: 30px;
      margin: 30px 0;
      border: 3px solid #555555;
    }
    .cards {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 20px;

      .card {
        width: 500px;
        height: 200px;
        background: url(../images/banner1.png);
        border-radius: 16px;
        border: 3px solid #555555;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        .button {
          margin: 10px 0;
          width: fit-content;
          display: flex;
          .icon {
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.padding {
  padding: 10px 100px;
  width: 100%;
}
.aa {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.aa {
  .background {
    background: url(../images/back_nice.png);
    background-position: center 100px;
    background-size: cover;
    background-clip: padding-box;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }
  & img.b {
    position: absolute;
  }
  .b1 {
    left: 350px;
  }
  .b2 {
    top: 700px;
  }
  .b3 {
    top: 700px;
    right: 50px;
  }
  .b4 {
    left: 100px;
  }
  .b5 {
    top: 2000px;
  }
  .b6 {
    left: 350px;
  }
  .b7 {
    left: 350px;
  }
  .b8 {
    left: 350px;
  }
  .b9 {
    left: 350px;
  }
  .b10 {
    left: 350px;
  }
}
.hover_green {
  transition: 0.2s ease-in-out;

  &:hover {
    & path:first-of-type {
      fill: $green;
    }
    & rect:last-of-type {
      fill: $purple;
    }
  }

  .hov:hover {
    & + path:first-of-type {
      fill: $green;
    }
    & + rect:last-of-type {
      fill: $purple;
    }
  }
}

@import "./texts";
@import "./resize";
