@media screen and (max-width: 1380px) {
  .why_section .whys .col {
    width: 100%;
  }
}


@media screen and (max-width: 1020px) {
  .parts {
    .part {
      width: 100%;
      min-width: 0px;
      .texts {
        p {
          width: fit-content;
        }
      }
    }
  }
}
@media screen and (max-width: 778px) {
}
